$color_fondo_header: orange;
$alto_logo: 48px;
$ancho_logo:49px;
$display_header: flex;
$border_header : 2px orangered solid;
$border_radius_header: 10px;
$pading_img:10px;

/*variables nav*/

$color_fondo_nav:salmon;
$tipo_lista_nav:none;
$display_nav:flex;
$distribucion_nav: space-around;
$text_decoration_nav_a:none;